{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Add Employees
{% endblock page_title %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Employee</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start. Enctype for file uploading -->
              <form role="form" action="/add_employee_save" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="card-body">


                  <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>



                   <div class="form-group">
                    <label>First Name <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" required>
                  </div>

                    <div class="form-group">
                    <label>Last Name <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
                  </div>

                  <!-- accept="image/*" ensures that user can only select image format files. -->
                  <div class="form-group">
                    <label>Profile Picture </label>
                    <input type="file" class="form-control" placeholder="Profile Picture" name="profile_pic" accept="image/*" >
                  </div>

                  <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="gender">
                      <option value="">--Choose an option--</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
                  </div>

                    <div class="form-group">
                    <label>Email <span class="text-danger"> *(required)</span> </label>
                    <input type="email" class="form-control" placeholder="Example: owais.rasheed.mir@gmail.com" name="email" required>
                    </div>

                    <!-- For multiple phone numbers: -->
                    <div class="form-group">
                        <label>Phone Number(s) <span class="text-danger"> *(required) </span> </label> <br>
                        <label> <span class="text-danger"> (Click the 'Add Another Number' button to add multiple phone numbers.) </span> </label>

                        <div id="phone_numbers_container">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Phone Number" name="phone" required>
                            </div>
                        </div>

                        <div class="input-group-append">
                                <button class="btn  btn-primary text-white mb-2" type="button" onclick="addPhoneNumber()">Add Another Number</button>
                        </div>
                    </div>



                    <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address" name="address">
                  </div>


                  <div class="form-group">
                    <label>Tehsil</label>
                    <input type="text" class="form-control" placeholder="Tehsil" name="tehsil">
                  </div>

                  <div class="form-group">
                    <label>District</label>
                    <input type="text" class="form-control" placeholder="District" name="district">
                  </div>

                  <div class="form-group">
                    <label>Parentage</label>
                    <input type="text" class="form-control" placeholder="Parentage" name="parentage">
                  </div>

                  <div class="form-group">
                    <label>Mother's Name</label>
                    <input type="text" class="form-control" placeholder="Mother's Name" name="mother_name">
                  </div>

                  <div class="form-group">
                    <label>Belt Number</label>
                    <input type="text" class="form-control" placeholder="Belt Number" name="belt_no">
                  </div>

                  <div class="form-group">
                    <label>PID Number</label>
                    <input type="text" class="form-control" placeholder="PID Number" name="pid_no">
                  </div>


                  <div class="form-group">
                    <label>Date Of Joining In CID </label>
                    <input type="date" class="form-control" placeholder="Joining Date" name="date_joined" >
                  </div>

                    <div class="form-group">
                        <label>Date Of Joining In CID - Document File Upload</label>
                        <label> <span class="text-danger"> (Supported Document Formats : PDF Documents (.pdf), Microsoft Word Documents(.doc, .docx), Plain Text Files(.txt), Rich Text Format (.rtf), Markdown Documents (.md))</span> </label>

                            <input type="file" class="form-control" placeholder="Date Of Joining In CID - Document File Upload" name="document_file" accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain, application/rtf, text/markdown">
                    </div>


                  <div class="form-group">
                    <label>Date Of Appointment In Police </label>
                    <input type="date" class="form-control" placeholder="Date Of Appointment In Police" name="date_appointment_police" >
                  </div>

                  <div class="form-group">
                    <label>DOB </label>
                    <input type="date" class="form-control" placeholder="DOB" name="dob" >
                  </div>

                  <div class="form-group">
                    <label>Rank <span class="text-danger"> *(required)</span> </label>
                    <select class="form-control" name="rank" required>
                      <option value="">--Choose an option--</option>
                      {% for rank in ranks %}
                        <option value="{{ rank.rank_id }}">{{ rank.rank_name }}</option>
                      {% endfor%}
                    </select>
                  </div>

                    <div class="form-group">
                    <label>Aadhar Number <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="Aadhar Number" name="aadhar_number" required>
                  </div>

                    <div class="form-group">
                    <label>PAN Card Number <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="PAN Card Number" name="pan_number" required>
                  </div>

                  <div class="form-group">
                    <label>Previous Positions Held</label>
                    <input type="text" class="form-control" placeholder="Previous Positions Held" name="previous_positions_held">
                  </div>



                    <!-- For multiple qualifications: -->
                    <div class="form-group">
                        <label>Educational Qualification(s) </label> <br>
                        <label> <span class="text-danger"> (Click the 'Add Another Qualification' button to add multiple educational qualifications.) </span> </label>

                        <div id="qualifications_container">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Educational Qualification. Example: MCA" name="qualifications">
                            </div>
                        </div>

                        <div class="input-group-append">
                                <button class="btn  btn-primary text-white mb-2" type="button" onclick="addQualifications()">Add Another Qualification</button>
                        </div>
                    </div>



                  <div class="form-group">
                    <label>Dialogue and public speaking</label>
                    <input type="text" class="form-control" placeholder="Do you have public speaking skills?" name="dialogue">
                  </div>

                    <div class="form-group">
                        <label for="adverse_report">Adverse Reports</label>
                        <textarea class="form-control" id="adverse_report" name="adverse_report" placeholder="Any Adverse Reports?"></textarea>
                    </div>

                  <div class="form-group">
                    <label>Section <span class="text-danger"> *(required)</span> </label>
                    <!-- Keep section as Required- this is a foreign key, it shows the section by retrieving it from an id. If no option is selected, there will be an error. -->
                    <select class="form-control" name="section" required>
                      <option value="">--Choose an option--</option>
                      <!-- Because sections, division and supervisor is a foreign key in Employees table, write this FOR loop to fetch data from these 2 table in the employee form. -->
                      {% for section in sections %}
                        <option value="{{ section.section_id }}">{{ section.section_name }}</option>
                      {% endfor%}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Division <span class="text-danger"> *(required)</span> </label>
                    <select class="form-control" name="division" required>
                      <option value="">--Choose an option--</option>
                      {% for division in divisions %}
                        <option value="{{ division.division_id }}">{{ division.division_name }}</option>
                      {% endfor%}
                    </select>
                  </div>

                  <div class="form-group">
                    <label>Supervisor <span class="text-danger"> *(required)</span> </label>
                    <!-- Keep section as Required- this is a foreign key, it shows the section by retrieving it from an id. If no option is selected, there will be an error. -->
                    <select class="form-control" name="supervisor" required>
                      <option value="">--Choose an option--</option>
                      {% for supervisor in supervisors %}
                        <option value="{{ supervisor.supervisor_id }}">{{ supervisor.first_name }} {{ supervisor.last_name }}</option>
                      {% endfor%}
                    </select>
                  </div>


                  <!-- Computer Knowledge. Check its JS below -->
                  <div class="form-group">
                      <label>Computer Knowledge? <span class="text-danger"> (Selecting "Yes" will expand more options for computer knowledge.)</span> </label><br>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="computer_knowledge" id="computer_knowledge_yes" value="Yes" onclick="showComputerOptions()">
                          <label class="form-check-label" for="computer_knowledge_yes">Yes</label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="computer_knowledge" id="computer_knowledge_no" value="No" onclick="hideComputerOptions()">
                          <label class="form-check-label" for="computer_knowledge_no">No</label>
                      </div>
                  </div>

                  <div id="computer_options" style="display: none;">
                      <div class="form-group">
                          <label for="computer_degree">Select your computer degree:</label>
                          <select id="computer_degree" name="computer_degree" class="form-control">
                              <option value="None">None</option>
                              <option value="Diploma">Diploma</option>
                              <option value="Degree">Degree</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="computer_skill">Rate your computer knowledge:</label>
                          <select id="computer_skill" name="computer_skill" class="form-control">
                              <option value="None">None</option>
                              <option value="Excellent">Excellent</option>
                              <option value="Good">Good</option>
                              <option value="Poor">Poor</option>
                          </select>
                      </div>
                  </div>



                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Employee</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->

<!-- For Computer Knowledge -->
<script>
    function showComputerOptions() {
        var computerOptions = document.getElementById("computer_options");
        computerOptions.style.display = "block";
    }

    function hideComputerOptions() {
        var computerOptions = document.getElementById("computer_options");
        computerOptions.style.display = "none";
    }
</script>


<!-- JS code to add multiple phone numbers - with add and remove buttons. -->
<script>
    function addPhoneNumber() {
        const container = document.getElementById("phone_numbers_container");
        const inputGroup = document.createElement("div");
        inputGroup.className = "input-group mb-3";

        const input = document.createElement("input");
        input.type = "number";
        input.className = "form-control";
        input.placeholder = "Phone Number";
        input.name = "phone";
        input.required = true;

        const appendDiv = document.createElement("div");
        appendDiv.className = "input-group-append";

        const removeButton = document.createElement("button");
        removeButton.className = "btn btn-danger"; // Add the "btn-danger" class
        removeButton.type = "button";
        removeButton.textContent = "Remove";
        removeButton.onclick = function () {
            container.removeChild(inputGroup);
        };

        appendDiv.appendChild(removeButton);
        inputGroup.appendChild(input);
        inputGroup.appendChild(appendDiv);
        container.appendChild(inputGroup);
    }
</script>


<!-- JS code to add multiple Educational Qualifications - with add and remove buttons. -->
<script>
    function addQualifications() {
        const container = document.getElementById("qualifications_container");
        const inputGroup = document.createElement("div");
        inputGroup.className = "input-group mb-3";

        const input = document.createElement("input");
        input.type = "text";
        input.className = "form-control";
        input.placeholder = "Educational Qualification. Ex: MCA";
        input.name = "qualifications";
        input.required = false;

        const appendDiv = document.createElement("div");
        appendDiv.className = "input-group-append";

        const removeButton = document.createElement("button");
        removeButton.className = "btn btn-danger"; // Add the "btn-danger" class
        removeButton.type = "button";
        removeButton.textContent = "Remove";
        removeButton.onclick = function () {
            container.removeChild(inputGroup);
        };

        appendDiv.appendChild(removeButton);
        inputGroup.appendChild(input);
        inputGroup.appendChild(appendDiv);
        container.appendChild(inputGroup);
    }
</script>


{% endblock main_content %}