{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Edit Employees | Name : {{supervisor.first_name}} {{supervisor.last_name}} | #ID : {{supervisor.supervisor_id}}
{% endblock page_title %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Supervisors</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_supervisor_save" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" name="first_name" value="{{ supervisor.first_name }}" required>

                     <!-- Creating hidden input field for Supervisor ID -->
                     <input type="hidden" name="supervisor_id" value="{{ supervisor.supervisor_id }}" >
                  </div>

                   <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" name="last_name" value="{{ supervisor.first_name }}" required>
                  </div>

                  <div class="form-group">
                    <label>Section <span class="text-danger"> *(required)</span> </label>
                    <!-- Keep section as Required- this is a foreign key, it shows the section by retrieving it from an id. If no option is selected, there will be an error. -->
                    <select class="form-control" name="section" required>
                      <option value="">--Choose an option--</option>
                      <!-- Because sections is a foreign key in Employees table, write this FOR loop to fetch data from this table in the supervisor form. -->
                      {% for section in sections %}
                        <!-- Keep spaces on left and right of '==' in: 'if section.section_id == employees.section_id_id ' -->
                        <option value="{{ section.section_id }}" {% if section.section_id == supervisor.section_id_id %} selected {% endif %}> {{ section.section_name }}</option>
                      {% endfor%}
                    </select>
                  </div>


                      <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Add Supervisor</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock main_content %}