{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Edit Divisions | Division ID : {{divisions.division_id}} | Division Name : {{divisions.division_name}}
{% endblock page_title %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Division</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_division_save" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>Division Name <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="Division Name" name="division_name" value="{{ divisions.division_name }}" required>

                       <!-- Creating hidden input field for Division ID-->
                       <input type="hidden" name="division_id" value="{{ divisions.division_id }}" >
                  </div>

                    <div class="form-group">
                        <label for="division_description">Description:</label>
                        <!-- <textarea> element doesn't use the value attribute like other input elements -->
                        <textarea class="form-control" id="division_description" name="division_description" placeholder="Division Description">{{ divisions.division_description }} </textarea>
                  </div>


                    <div class="form-group">
                    <label>Division Head/Supervisor</label>
                    <input type="text" class="form-control" placeholder="Division Head/Supervisor" name="division_head" value="{{ divisions.division_head }}" >
                    </div>

                      <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Division</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock main_content %}