{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Edit Sections | Section ID : {{sections.section_id}} | Section Name : {{sections.section_name}}
{% endblock page_title %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Section</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_section_save" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>Section Name <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="Section Name" name="section_name" value="{{ sections.section_name }}" required>

                       <!-- Creating hidden input field for Section ID-->
                       <input type="hidden" name="section_id" value="{{ sections.section_id }}" >
                  </div>

                    <div class="form-group">
                        <label for="description">Description:</label>
                        <!-- <textarea> element doesn't use the value attribute like other input elements -->
                        <textarea class="form-control" id="description" name="description" placeholder="Section Description">{{ sections.description }} </textarea>
                  </div>


                   <!-- <div class="form-group">
                    <label>Section Description </label>
                    <input type="text" class="form-control" placeholder="Section Description" name="description">
                  </div>   -->

                    <div class="form-group">
                    <label>Section Incharge</label>
                    <input type="text" class="form-control" placeholder="Section Incharge" name="section_incharge" value="{{ sections.section_incharge }}" >
                    </div>

                      <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit Section</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock main_content %}