{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Edit User Security Question | ID : {{usq.id}}
{% endblock page_title %}
{% block main_content %}

<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit User Security Question</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/edit_user_security_question_save" method="post">
                  {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label>User Security Question <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="User Security Question" name="question" value="{{ usq.question }}" required>

                       <!-- Creating hidden input field for Section ID-->
                       <input type="hidden" name="id" value="{{ usq.id }}" >
                  </div>


                    <div class="form-group">
                    <label>Answer <span class="text-danger"> *(required)</span> </label>
                    <input type="text" class="form-control" placeholder="Answer" name="answer" value="{{ usq.answer }}" required>
                  </div>



                      <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Edit User Security Question</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->

{% endblock main_content %}