{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}



    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ employee_count }}</h3>

                <p>Total Employees</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_employee' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ division_count }}</h3>

                <p>Total Divisions</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_division' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ section_count }}</h3>

                <p>Total Sections</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_section' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ rank_count }}</h3>

                <p>Total Ranks</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="{% url 'manage_rank' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->



              <div class="container-fluid">     <!-- container-fluid starts -->

                <h3 class="mt-3">Employee Management</h3>
                <!-- First pair of cards -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-primary">
                            <div class="card-body">
                                <i class="fas fa-user fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add Employees</h4>
                                <a href="{% url 'add_employee' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card card-custom bg-primary">
                            <div class="card-body">
                                <i class="fas fa-user fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage/View Employees</h5>
                                <a href="{% url 'manage_employee' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-primary">
                            <div class="card-body">
                                <i class="fas fa-search fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Search Employees</h5>
                                <a href="{% url 'employee_search' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 -->
                    <div class="col-lg-6">
                        <div class="card card-custom bg-primary">
                            <div class="card-body">
                                <i class="fas fa-archive fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Archived Employees</h5>
                                <!-- Add the link for the fourth card here -->
                                <a href="{% url 'manage_archived_employee' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-3">Section Management</h3>
                <!-- 2nd pair of cards -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-warning">
                            <div class="card-body">
                                <i class="fas fa-building fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add Sections</h4>
                                <a href="{% url 'add_section' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-warning">
                            <div class="card-body">
                                <i class="fas fa-building fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage Sections</h5>
                                <a href="{% url 'manage_section' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-3">Division Management</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-success">
                            <div class="card-body">
                                <i class="fas fa-building fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add Divisions</h4>
                                <a href="{% url 'add_division' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-success">
                            <div class="card-body">
                                <i class="fas fa-building fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage Divisions</h5>
                                <a href="{% url 'manage_division' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-3">Rank Management</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-secondary">
                            <div class="card-body">
                                <i class="fas fa-star fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add Ranks</h4>
                                <a href="{% url 'add_rank' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-secondary">
                            <div class="card-body">
                                <i class="fas fa-star fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage Ranks</h5>
                                <a href="{% url 'manage_rank' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                  <h3 class="mt-3">Leave Management</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-info">
                            <div class="card-body">
                                <i class="fas fa-edit fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Apply For Leave</h4>
                                <a href="{% url 'admin_apply_leave' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-info">
                            <div class="card-body">
                                <i class="fas fa-edit fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Leave Status & History</h5>
                                <a href="{% url 'admin_leave_history' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-info">
                            <div class="card-body">
                                <i class="fas fa-edit fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Edit Leave Counters</h5>
                                <a href="{% url 'edit_leave_counters' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-info">
                            <div class="card-body">
                                <i class="fas fa-edit fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">View All Department Leaves</h5>
                                <!-- Add the link for the third card here -->
                                <a href="{% url 'view_all_dept_leaves' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-3">Profile Correction Request and Feedback/Report A Problem</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-warning">
                            <div class="card-body">
                                <i class="fas fa-check-square fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Profile Correction Request</h4>
                                <a href="{% url 'pcr_msg' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card card-custom bg-warning">
                            <div class="card-body">
                                <i class="fas fas fa-comments fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage Feedbacks/Reports</h5>
                                <a href="{% url 'user_feedback_message' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                  <h3 class="mt-3">Login Accounts</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-custom bg-success">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h4 class="card-title text-white mr-4">Add Admin Login</h4>
                                    <a href="{% url 'add_admin' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card card-custom bg-success">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage Admin Login</h5>
                                    <a href="{% url 'manage_admin' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card card-custom bg-info">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Add User Login</h5>
                                    <a href="{% url 'add_user' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-info">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage User Login</h5>
                                    <a href="{% url 'manage_user' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-custom bg-secondary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h4 class="card-title text-white mr-4">Add Section Head Login</h4>
                                    <a href="{% url 'add_section_head' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-secondary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage Section Head</h5>
                                    <a href="{% url 'manage_section_head' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-warning">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Add Division Head Login</h5>
                                    <a href="{% url 'add_division_head' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-warning">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage Division Head</h5>
                                    <a href="{% url 'manage_division_head' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-custom bg-success">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h4 class="card-title text-white mr-4">Add DDO Login</h4>
                                    <a href="{% url 'add_ddo' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-success">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage DDO Login</h5>
                                    <a href="{% url 'manage_ddo' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-primary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Add Special DG Login</h5>
                                    <a href="{% url 'add_special_dg' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-primary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage SpecialDG Login</h5>
                                    <a href="{% url 'manage_special_dg' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                  <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-custom bg-secondary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h4 class="card-title text-white mr-4">Add IGP Login</h4>
                                    <a href="{% url 'add_igp' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card card-custom bg-secondary">
                                <div class="card-body">
                                    <i class="fas fa-user fa-3x text-white mb-2"></i>
                                    <h5 class="card-title text-white mr-4">Manage IGP Login</h5>
                                    <a href="{% url 'manage_igp' %}" class="btn btn-light btn-block">Visit</a>
                                </div>
                            </div>
                        </div>

                    </div>


                  <!--
                <h3 class="mt-3">Admin Security Questions Management</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-secondary">
                            <div class="card-body">
                                <i class="fas fa-question-circle fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add Admin Security Questions</h4>
                                <a href="{% url 'add_admin_security_question' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-info">
                            <div class="card-body">
                                <i class="fas fa-question-circle fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage Admin Security Questions</h5>
                                <a href="{% url 'manage_admin_security_question' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="mt-3">User Security Questions Management</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-primary">
                            <div class="card-body">
                                <i class="fas fa-question-circle fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Add User Security Questions</h4>
                                <a href="{% url 'add_user_security_question' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-custom bg-success">
                            <div class="card-body">
                                <i class="fas fa-question-circle fa-3x text-white mb-2"></i>
                                <h5 class="card-title text-white mr-4">Manage User Security Questions</h5>
                                <a href="{% url 'manage_user_security_question' %}" class="btn btn-light btn-block">Visit</a>
                            </div>
                        </div>
                    </div>
                </div>

                -->




                <h3 class="mt-3">Logout</h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-custom bg-danger">
                            <div class="card-body">
                                <i class="fas fa-sign-out-alt fa-3x text-white mb-2"></i>
                                <h4 class="card-title text-white mr-4">Logout</h4>
                                <a href="{% url 'logout' %}" class="btn btn-light btn-block">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>




            </div>      <!-- container-fluid ends -->




    </section>
    <!-- /.content -->
{% endblock main_content %}



{% block custom_js %}



{% endblock custom_js %}
