{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Manage Employees
{% endblock page_title %}
{% block main_content %}

<style>
  /* Custom CSS to control table cell wrapping */
.table td {
  white-space: normal; /* Allow text to wrap within cells */
  word-break: break-word; /* Break words when they overflow the cell */
}

</style>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!--  Copy the code of success and error messages from login_page.html and paste it here. -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Employee Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->

              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap table-bordered">
                  <thead>
                    <tr>
                      <th>Action</th>

                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Profile Picture</th>
                      <th>Phone</th>
                      <th>Rank</th>
                      <th>Section</th>
                      <th>Division</th>
                      <th>Supervisor</th>

                      <th>View All Details</th>

                    </tr>
                  </thead>

                  <tbody>
                  <!-- FOR loop to print all data. -->
                  {% for employee in employees %}
                    <tr>

                      <td style="min-width: 110px;">
                        <a href="/edit_employee/{{ employee.emp_id }}" class="btn btn-primary mb-1">Edit</a> <br>

                        <form method="post" action="{% url 'delete_employee' emp_id=employee.emp_id %}" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</button>
                        </form>
                      </td>

                      <!-- first_name etc : column names in Employees table-->
                      <td>{{ employee.first_name }}</td>
                      <td>{{ employee.last_name }}</td>
                      <td> <img src="{{ employee.profile_pic }}" style="width:100px; height:100px;"/></td>
                      <td>{{ employee.phone }}</td>
                      <td>{{ employee.rank_id.rank_name }}</td>

                      <!-- section_id is defined in models.py of Employees class, section_name is its column that we want to display. -->
                      <td>{{ employee.section_id.section_name }}</td>
                      <td>{{ employee.division_id.division_name }}</td>
                      <td>{{ employee.supervisor_id.first_name }} {{ employee.supervisor_id.last_name }}</td>

                      <!-- <td> <a href="/view_all_employee/{{ employee.emp_id }}" class="btn btn-success">View All Details</a> </td> -->
                      <td>
                        <a href="{% url 'view_all_employee' employee.emp_id %}" class="btn btn-primary">View All Details</a>
                      </td>

                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

