{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Manage User Security Question
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


        <!--  code for success and error messages - will be displayed at the top -->
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Security Question Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap table-bordered">
                  <thead>
                    <tr>
                      <th>Action</th>
                      <th>ID</th>
                      <th>User Security Question</th>
                      <th>Answer</th>

                    </tr>
                  </thead>

                  <tbody>
                  <!-- FOR loop to print all data. 'asq' is defined in def manage_admin_security_question() -->
                  {% for usq in usq %}
                    <tr>
                      <td>
                        <a href="/edit_user_security_question/{{ usq.id }}" class="btn btn-primary mb-1">Edit</a> <br>

                        <form method="post" action="{% url 'delete_user_security_question' id=usq.id %}" class="d-inline">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this User Security Question?')">Delete</button>
                        </form>
                      </td>


                      <td>{{ usq.id }}</td>
                      <!-- white-space: pre-line : for word wrap and breaking the long text, since this is a TextArea. -->
                      <td style="white-space: pre-line;">{{ usq.question }}</td>
                      <td>{{ usq.answer }}</td>


                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

