{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Manage Employee Supervisors
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Supervisor Details</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap table-bordered">
                  <thead>
                    <tr>
                      <th>Action</th>

                      <th>Supervisor ID</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Section</th>

                    </tr>
                  </thead>

                  <tbody>
                  <!-- FOR loop to print all data. -->
                  {% for supervisor in supervisor %}
                    <tr>
                      <td> <a href="/edit_supervisor/{{ supervisor.supervisor_id }}" class="btn btn-primary">Edit</a> </td>

                      <!-- supervisor_id, first_name etc : column names in Sections table-->
                      <td>{{ supervisor.supervisor_id }}</td>
                      <td>{{ supervisor.first_name }}</td>
                      <td> {{ supervisor.last_name }}</td>
                      <td>{{ supervisor.section_id.section_name }}</td>

                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

