{% extends 'admin_template/base_template.html' %}
{% block page_title %}
{% load static %}
Manage Special DG Login
{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!--  success and error messages -->
                            <div class="form-group">
                                {% if messages %}
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                        {% endif %}
                                        {% if message.tags == 'success' %}
                                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>


           <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Special DG Login Details</h3>

                <!-- JS Live Search -->
                <div class="card-tools mb-3">
                  <div class="input-group input-group-sm" style="width: 500px;">
                    <span class="input-group-prepend">
                      <label class="input-group-text" for="searchInput">Search by Email</label>
                    </span>

                    <input type="text" id="searchInput" class="form-control" style="height: 38px;" placeholder="Search">

                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                  </div>
                </div>


              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">

                <table class="table table-hover text-nowrap table-bordered">
                  <thead>
                    <tr>
                      <th>Action</th>

                      <th>ID</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Last Login</th>
                      <th>Created At</th>
                      <th>User Type</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for special_dg in special_dg %}
                    <tr>
                      <td>
                        <a href="/edit_special_dg/{{ special_dg.admin.id }}" class="btn btn-success">Edit</a>
                        <a href="/delete_special_dg/{{ special_dg.admin.id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                      </td>

                      <td>{{ special_dg.admin.id }}</td>
                      <td>{{ special_dg.admin.username }}</td>
                      <td>{{ special_dg.admin.email }}</td>
                      <td>{{ special_dg.admin.last_login }}</td>
                      <td>{{ special_dg.created_at }}</td>
                      <td>{{ special_dg.admin.user_type }}</td>

                    </tr>
                  {% endfor %}
                  </tbody>

                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->


<!--  JS file for Live Search - for Login Accounts -->
<script src="{% static 'dist/js/live_search_for_login_acc.js' %}"></script>


{% endblock main_content %}

