{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
      <img src="{% static "dist/img/img2.png" %}" alt="HRMS" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">HRMS - CID</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/avatar5.png" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <!-- Displaying the admin name at the top of sidebar. -->
          <a href="{% url 'admin_home' %}" class="d-block">Logged in as: {{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="{% url 'admin_home' %}" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard- HRMS-CID
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'admin_home' as admin_home %}
                <a href="{% url 'admin_home' %}" class="nav-link {% if request.path == admin_home %} active {% endif %}">   <!-- Highlighting the active/opened page in sidebar -->
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            </ul>
          </li>


          <li class="nav-item has-treeview">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Employees
                <i class="fas fa-angle-left right"></i>
                <span class="badge badge-info right"></span>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'add_employee' as add_employee %}
                <a href="{% url 'add_employee' %}" class="nav-link {% if request.path == add_employee %} active {% endif %}">   <!-- Highlighting the active/opened page in sidebar -->
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Employees</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_employee' as manage_employee %}
                <a href="{% url 'manage_employee' %}" class="nav-link {% if request.path == manage_employee %} active {% endif %}">   <!-- Highlighting the active/opened page in sidebar -->
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Employees</p>
                </a>
              </li>

            </ul>

          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Sections
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <!-- add_section is defined in urls.py -->
                {% url 'add_section' as add_section %}
                <a href="{% url 'add_section' %}" class="nav-link {% if request.path == add_section %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Sections</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_section' as manage_section %}
                <a href="{% url 'manage_section' %}" class="nav-link {% if request.path == manage_section %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Sections</p>
                </a>
              </li>
            </ul>


            </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-building"></i>
              <p>
                Divisions
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'add_division' as add_division %}
                <a href="{% url 'add_division' %}" class="nav-link {% if request.path == add_division %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Divisions</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_division' as manage_division %}
                <a href="{% url 'manage_division' %}" class="nav-link {% if request.path == manage_division %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Divisions</p>
                </a>
              </li>
            </ul>


            </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-star"></i>
              <p>
                Ranks
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <!-- add_rank is defined in urls.py -->
                {% url 'add_rank' as add_rank %}
                <a href="{% url 'add_rank' %}" class="nav-link {% if request.path == add_rank %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Ranks</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_rank' as manage_rank %}
                <a href="{% url 'manage_rank' %}" class="nav-link {% if request.path == manage_rank %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Ranks</p>
                </a>
              </li>

            </ul>


          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Leaves
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                {% url 'user_leave_view' as user_leave_view %}
                <a href="{% url 'user_leave_view' %}" class="nav-link {% if request.path == user_leave_view %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Leaves</p>
                </a>
              </li>



            </ul>

          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-tie"></i>
              <p>
                Employee Supervisors
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'add_supervisor' as add_supervisor %}
                <a href="{% url 'add_supervisor' %}" class="nav-link {% if request.path == add_supervisor %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Supervisors</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_supervisor' as manage_supervisor %}
                <a href="{% url 'manage_supervisor' %}" class="nav-link {% if request.path == manage_supervisor %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage Supervisors</p>
                </a>
              </li>
            </ul>

          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-comments"></i>
              <p>
                Feedbacks
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'user_feedback_message' as user_feedback_message %}
                <a href="{% url 'user_feedback_message' %}" class="nav-link {% if request.path == user_feedback_message %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>View/Manage Feedbacks</p>
                </a>
              </li>

            </ul>

            </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-sign-in-alt"></i>
              <p>
                User Login
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <!-- add_user is defined in urls.py. It is a function in AdminViews.py which calls add_user_template.html. -->
                {% url 'add_user' as add_user %}
                <a href="{% url 'add_user' %}" class="nav-link {% if request.path == add_user %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add User Login</p>
                </a>
              </li>

              <li class="nav-item">
                {% url 'manage_user' as manage_user %}
                <a href="{% url 'manage_user' %}" class="nav-link {% if request.path == manage_user %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage User Login</p>
                </a>
              </li>
            </ul>

            <li class="nav-item">
            {% url 'logout' as logout %}
            <a href="{% url 'logout' %}" class="nav-link {% if request.path == logout %} active {% endif %}">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Logout
                <span class="badge badge-info right"></span>
              </p>
            </a>
          </li>

          </li>
          <li class="nav-header">OTHER QUICK LINKS</li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-info"></i>
              <p>
                About
                <span class="badge badge-info right"></span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-info-circle"></i>
              <p>
                About the Developers
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">

            <ul class="nav nav-treeview">

            </ul>
          </li>

          <li class="nav-item has-treeview">
            <ul class="nav nav-treeview">
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <ul class="nav nav-treeview">
            </ul>
          </li>


        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>