{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Feedback/Report a Problem
{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Feedback/Report a Problem</h3>
              </div>
              <!-- /.card-header -->

              <!-- form start -->
                <div class="table">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>PID</th>
                            <th>Phone</th>
                            <th>Rank</th>
                            <th>Section</th>
                            <th>Division</th>
                            <th style="width:30%;">Feedback/Report a Problem Message</th>
                            <th style="width:20%;">Feedback/Report a Problem Reply</th>
                            <th>Sent On</th>
                        </tr>

                        {% for feedback in feedbacks %}
                        <tr>
                            <td>{{ feedback.id }}</td>
                            <td>{{ feedback.name }}</td>
                            <td>{{ feedback.pid }}</td>
                            <td>{{ feedback.phone }}</td>
                            <td>{{ feedback.rank }}</td>
                            <td>{{ feedback.section }}</td>
                            <td>{{ feedback.division }}</td>
                            <td>{{ feedback.feedback }}</td>

                            <td>
                                {% if feedback.feedback_reply == "" %}
                                <button class="btn btn-success reply_open_modal" data-toggle="modal" data-target="#reply_modal">Reply</button>
                                {% else %}
                                {{ feedback.feedback_reply }}
                                {% endif %}
                            </td>

                            <td>{{ feedback.created_at }}</td>

                        </tr>
                        {% endfor %}
                    </table>

                </div>
                
                <!-- Pagination controls -->
                <div class="pagination d-flex justify-content-center mt-4 ml-4">
                    <span class="step-links">
                        {% if feedbacks.has_previous %}
                            <a href="?page=1" class="mr-2">&laquo; First</a>
                            <a href="?page={{ feedbacks.previous_page_number }}" class="mr-2">Previous</a>
                        {% endif %}

                        <span class="current mr-2">
                            Page {{ feedbacks.number }} of {{ feedbacks.paginator.num_pages }}.
                        </span>

                        {% if feedbacks.has_next %}
                            <a href="?page={{ feedbacks.next_page_number }}" class="mr-2">Next</a>
                            <a href="?page={{ feedbacks.paginator.num_pages }}" class="mr-2">Last &raquo;</a>
                        {% endif %}
                    </span>

                    <!-- Form for direct page jump -->
                    <form method="get" class="page-jump-form ml-3">
                        <label for="id_page_number">Jump to page: </label>
                        <select name="page" id="id_page_number">
                            {% for page_num in feedbacks.paginator.page_range %}
                                <option value="{{ page_num }}" {% if page_num == feedbacks.number %}selected{% endif %}>
                                    {{ page_num }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit">Go</button>
                    </form>
                </div>

            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>

  <!-- Modal - a pop-up window for Feedback Reply -->
  <div class="modal fade" id="reply_modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Reply</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <p>Reply To : <span id="reply_name"></span></p>
            <input type="hidden" id="reply_id" name="reply_id">
            <textarea class="form-control" rows="5" id="reply_message"></textarea>
            <button id="reply_btn" class="btn btn-info btn-block">Reply</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}


<script>
    $(document).ready(function(){
        $(".reply_open_modal").click(function(){
            var id=$(this).parents("tr").children("td:eq(0)").text();
            var name=$(this).parents("tr").children("td:eq(2)").text();
            $("#reply_id").val(id);
            $("#reply_name").text(name);
        });


        $(document).on("click","#reply_btn",function(){

                $(this).attr("disabled","disabled")
                $(this).text("Sending Reply...")

                var id=$("#reply_id").val();
                var message=$("#reply_message").val()

                $.ajax({
                        url:'{% url 'user_feedback_message_replied' %}',
                        type:'POST',
                        data:{id:id,message:message},
                    })
                    .done(function(response){

                        if(response=="True"){
                            alert("Reply Sent")
                        }
                        else{
                            alert("Error in Sending Reply")
                        }
                        location.reload()
                    })
                    .fail(function(){
                        alert("Error in Sending Reply")
                    })
           });

    });
</script>
{% endblock custom_js %}
